
.AcContainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  max-width:1000px;
  gap: 1rem;
  
}

.paddingTop{  
  padding-bottom: 5rem;
}


h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  
}

#Trosa{
  padding-bottom: 2rem;

  @media (max-width: 800px) {
    font-size: 1.5rem;    
  }
}


.title{
  padding: 2rem 0;
  font-size:1.5rem;
  border:none;
  color:#E1E1E6;
  text-align:center;
}

span{
  color:#E1E1E6;
  font-size:1.5rem;
  color: #E1E1E6;
  font-weight: 600;
  text-shadow: 1px 0px 0px #E1E1E6;
}

.acc {
  background: transparent;
  color: #E1E1E6;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:2px solid #E1E1E6;
  font-size: 1.2rem;
}



.accordion-button {
  background-color: transparent !important;
  font-size: 1.2rem;
  color: #E1E1E6;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #fff;
}

.accordion-button:after { 
  
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
